.app-create__title {
  background-color: var(--color-top);
  width: 100%;
}

.app-create__field {
  border: 3px solid lightsalmon;
  margin-bottom: 15px;
  background-color: var(--color-mid);
  border-radius: 5px;
  width: 100%;
}

.app-create__output {
  position: absolute;
  right: 25px;
  top: 5px;
  font-size: 0.8rem;
  color: black;
}

.app-create__label {
  position: relative;
}

.app-create__field--input {
  height: 40px;
}

.app-create__form {
  display: grid;
  gap: 10px;
}

.app-create__button {
  padding: 10px 20px;
  margin: 0 auto;
  border-radius: 3px;
}

.app-create__button {
  display: inline-block;
  background-color: #4b8df7;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  color: white;
  letter-spacing: 0.1rem;
  margin-bottom: 10px;
}

body {
  background-color: var(--color-mid);
}
