.app-nav__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 0px;
}

ul[role='list'] {
  list-style: none;
  margin: 0;
}

.app-nav__list--item {
  border-top: 1px solid black;
  border-right: 1px solid black;
  width: 100%;
  display: inline;
  /* background-color: var(--color-top); */
}

.app-nav--flex {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.display-contents {
  display: contents;
}

.item1 {
  grid-column: 1/2;
  width: 100%;
}

.item2 {
  grid-column: 2/3;
  width: 100%;
}

.item3 {
  grid-column: 3/4;
  width: 100%;
}

.item4 {
  grid-column: 4/5;
  width: 100%;
}

.app-nav__link--active {
  background: rgba(221, 190, 169, 0.4);
}
/* ADD FOR ALL LI AND UL that we ignore li and ul because they dont have content*/
