<nav class="app-nav__grid">
  <ul role="list" class="app-nav__list display-contents">
    <li class="app-nav__list--item display-contents">
      <a class="app-nav__link" class="app-nav__link--active" href="./index.html"
        ><img src="../../images/home.svg" width="40" height="40"
      /></a>
    </li>
    <li class="app-nav__list--item display-contents">
      <a class="app-nav__link" href="./bookmarks.html"
        ><img src="../../images/bookmark.svg" width="40" height="40"
      /></a>
    </li>
    <li class="app-nav__list--item display-contents">
      <a class="app-nav__link" href="./create.html"><img src="../../images/create.svg" width="40" height="40" /></a>
    </li>
    <li class="app-nav__list--item display-contents">
      <a class="app-nav__link" href="./profile.html"
        ><img src="../../images/profile-svgrepo-com.svg" width="40" height="40"
      /></a>
    </li>
  </ul>
</nav>
