*,
*::before,
*::after {
  box-sizing: border-box;
}

ul[role="list"] {
  list-style: none;
}

h1 {
  color: var(--color-cyan);
}

h2 {
  color: var(--color-yellow);
}

.mb-20 {
  margin-bottom: 20px;
}

.mt-20 {
  margin-top: 20px;
}
